@font-face {
    font-family: 'uzura';
    /* フォント名を指定 */
    src: url('../assets/fonts/uzura.ttf') format('truetype');
    /* フォントファイルのパスを指定 */
    font-weight: normal;
    /* フォントの太さを指定 */
    font-style: normal;
    /* フォントのスタイルを指定 */
}

@font-face {
    font-family: 'KaiseiTokumin';
    /* フォント名を指定 */
    src: url('../assets/fonts/KaiseiTokumin-Medium.woff2') format('truetype');
    /* フォントファイルのパスを指定 */
    font-weight: normal;
    /* フォントの太さを指定 */
    font-style: normal;
    /* フォントのスタイルを指定 */
}
